<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>Smileys &amp; People</string>
		<key>emojis</key>
		<array>
			<string>😄</string>
			<string>😃</string>
			<string>😀</string>
			<string>😊</string>
			<string>☺</string>
			<string>😉</string>
			<string>😍</string>
			<string>😘</string>
			<string>😚</string>
			<string>😗</string>
			<string>😙</string>
			<string>😜</string>
			<string>😝</string>
			<string>😛</string>
			<string>😳</string>
			<string>😁</string>
			<string>😔</string>
			<string>😌</string>
			<string>😒</string>
			<string>😞</string>
			<string>😣</string>
			<string>😢</string>
			<string>😂</string>
			<string>😭</string>
			<string>😪</string>
			<string>😥</string>
			<string>😰</string>
			<string>😅</string>
			<string>😓</string>
			<string>😩</string>
			<string>😫</string>
			<string>😨</string>
			<string>😱</string>
			<string>😠</string>
			<string>😡</string>
			<string>😤</string>
			<string>😖</string>
			<string>😆</string>
			<string>😋</string>
			<string>😷</string>
			<string>😎</string>
			<string>😴</string>
			<string>😵</string>
			<string>😲</string>
			<string>😟</string>
			<string>😦</string>
			<string>😧</string>
			<string>😈</string>
			<string>😮</string>
			<string>😬</string>
			<string>😐</string>
			<string>😕</string>
			<string>😯</string>
			<string>😶</string>
			<string>😇</string>
			<string>😏</string>
			<string>😑</string>
			<string>👲</string>
			<string>👳</string>
			<string>👮</string>
			<string>👷</string>
			<string>💂</string>
			<string>👶</string>
			<string>👦</string>
			<string>👧</string>
			<string>👨</string>
			<string>👩</string>
			<string>👴</string>
			<string>👵</string>
			<string>👱</string>
			<string>👼</string>
			<string>👸</string>
			<string>😺</string>
			<string>😸</string>
			<string>😻</string>
			<string>😽</string>
			<string>😼</string>
			<string>🙀</string>
			<string>😿</string>
			<string>😹</string>
			<string>😾</string>
			<string>👹</string>
			<string>👺</string>
			<string>🙈</string>
			<string>🙉</string>
			<string>🙊</string>
			<string>💀</string>
			<string>👽</string>
			<string>💩</string>
			<string>🔥</string>
			<string>✨</string>
			<string>🌟</string>
			<string>💫</string>
			<string>💥</string>
			<string>💢</string>
			<string>💦</string>
			<string>💧</string>
			<string>💤</string>
			<string>💨</string>
			<string>👂</string>
			<string>👀</string>
			<string>👃</string>
			<string>👅</string>
			<string>👄</string>
			<string>👍</string>
			<string>👎</string>
			<string>👌</string>
			<string>👊</string>
			<string>✊</string>
			<string>✌</string>
			<string>👋</string>
			<string>✋</string>
			<string>👐</string>
			<string>👆</string>
			<string>👇</string>
			<string>👉</string>
			<string>👈</string>
			<string>🙌</string>
			<string>🙏</string>
			<string>☝</string>
			<string>👏</string>
			<string>💪</string>
			<string>🚶</string>
			<string>🏃</string>
			<string>💃</string>
			<string>👫</string>
			<string>👪</string>
			<string>👬</string>
			<string>👭</string>
			<string>💏</string>
			<string>💑</string>
			<string>👯</string>
			<string>🙆</string>
			<string>🙅</string>
			<string>💁</string>
			<string>🙋</string>
			<string>💆</string>
			<string>💇</string>
			<string>💅</string>
			<string>👰</string>
			<string>🙎</string>
			<string>🙍</string>
			<string>🙇</string>
			<string>🎩</string>
			<string>👑</string>
			<string>👒</string>
			<string>👟</string>
			<string>👞</string>
			<string>👡</string>
			<string>👠</string>
			<string>👢</string>
			<string>👕</string>
			<string>👔</string>
			<string>👚</string>
			<string>👗</string>
			<string>🎽</string>
			<string>👖</string>
			<string>👘</string>
			<string>👙</string>
			<string>💼</string>
			<string>👜</string>
			<string>👝</string>
			<string>👛</string>
			<string>👓</string>
			<string>🎀</string>
			<string>🌂</string>
			<string>💄</string>
			<string>💛</string>
			<string>💙</string>
			<string>💜</string>
			<string>💚</string>
			<string>❤</string>
			<string>💔</string>
			<string>💗</string>
			<string>💓</string>
			<string>💕</string>
			<string>💖</string>
			<string>💞</string>
			<string>💘</string>
			<string>💌</string>
			<string>💋</string>
			<string>💍</string>
			<string>💎</string>
			<string>👤</string>
			<string>👥</string>
			<string>💬</string>
			<string>👣</string>
			<string>💭</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>Animals &amp; Nature</string>
		<key>emojis</key>
		<array>
			<string>🐶</string>
			<string>🐺</string>
			<string>🐱</string>
			<string>🐭</string>
			<string>🐹</string>
			<string>🐰</string>
			<string>🐸</string>
			<string>🐯</string>
			<string>🐨</string>
			<string>🐻</string>
			<string>🐷</string>
			<string>🐽</string>
			<string>🐮</string>
			<string>🐗</string>
			<string>🐵</string>
			<string>🐒</string>
			<string>🐴</string>
			<string>🐑</string>
			<string>🐘</string>
			<string>🐼</string>
			<string>🐧</string>
			<string>🐦</string>
			<string>🐤</string>
			<string>🐥</string>
			<string>🐣</string>
			<string>🐔</string>
			<string>🐍</string>
			<string>🐢</string>
			<string>🐛</string>
			<string>🐝</string>
			<string>🐜</string>
			<string>🐞</string>
			<string>🐌</string>
			<string>🐙</string>
			<string>🐚</string>
			<string>🐠</string>
			<string>🐟</string>
			<string>🐬</string>
			<string>🐳</string>
			<string>🐋</string>
			<string>🐄</string>
			<string>🐏</string>
			<string>🐀</string>
			<string>🐃</string>
			<string>🐅</string>
			<string>🐇</string>
			<string>🐉</string>
			<string>🐎</string>
			<string>🐐</string>
			<string>🐓</string>
			<string>🐕</string>
			<string>🐖</string>
			<string>🐁</string>
			<string>🐂</string>
			<string>🐲</string>
			<string>🐡</string>
			<string>🐊</string>
			<string>🐫</string>
			<string>🐪</string>
			<string>🐆</string>
			<string>🐈</string>
			<string>🐩</string>
			<string>🐾</string>
			<string>💐</string>
			<string>🌸</string>
			<string>🌷</string>
			<string>🍀</string>
			<string>🌹</string>
			<string>🌻</string>
			<string>🌺</string>
			<string>🍁</string>
			<string>🍃</string>
			<string>🍂</string>
			<string>🌿</string>
			<string>🌾</string>
			<string>🍄</string>
			<string>🌵</string>
			<string>🌴</string>
			<string>🌲</string>
			<string>🌳</string>
			<string>🌰</string>
			<string>🌱</string>
			<string>🌼</string>
			<string>🌐</string>
			<string>🌞</string>
			<string>🌝</string>
			<string>🌚</string>
			<string>🌑</string>
			<string>🌒</string>
			<string>🌓</string>
			<string>🌔</string>
			<string>🌕</string>
			<string>🌖</string>
			<string>🌗</string>
			<string>🌘</string>
			<string>🌜</string>
			<string>🌛</string>
			<string>🌙</string>
			<string>🌍</string>
			<string>🌎</string>
			<string>🌏</string>
			<string>🌋</string>
			<string>🌌</string>
			<string>🌠</string>
			<string>⭐</string>
			<string>☀</string>
			<string>⛅</string>
			<string>☁</string>
			<string>⚡</string>
			<string>☔</string>
			<string>❄</string>
			<string>⛄</string>
			<string>🌀</string>
			<string>🌁</string>
			<string>🌈</string>
			<string>🌊</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>Objects</string>
		<key>emojis</key>
		<array>
			<string>🎍</string>
			<string>💝</string>
			<string>🎎</string>
			<string>🎒</string>
			<string>🎓</string>
			<string>🎏</string>
			<string>🎆</string>
			<string>🎇</string>
			<string>🎐</string>
			<string>🎑</string>
			<string>🎃</string>
			<string>👻</string>
			<string>🎅</string>
			<string>🎄</string>
			<string>🎁</string>
			<string>🎋</string>
			<string>🎉</string>
			<string>🎊</string>
			<string>🎈</string>
			<string>🎌</string>
			<string>🔮</string>
			<string>🎥</string>
			<string>📷</string>
			<string>📹</string>
			<string>📼</string>
			<string>💿</string>
			<string>📀</string>
			<string>💽</string>
			<string>💾</string>
			<string>💻</string>
			<string>📱</string>
			<string>☎</string>
			<string>📞</string>
			<string>📟</string>
			<string>📠</string>
			<string>📡</string>
			<string>📺</string>
			<string>📻</string>
			<string>🔊</string>
			<string>🔉</string>
			<string>🔈</string>
			<string>🔇</string>
			<string>🔔</string>
			<string>🔕</string>
			<string>📢</string>
			<string>📣</string>
			<string>⏳</string>
			<string>⌛</string>
			<string>⏰</string>
			<string>⌚</string>
			<string>🔓</string>
			<string>🔒</string>
			<string>🔏</string>
			<string>🔐</string>
			<string>🔑</string>
			<string>🔎</string>
			<string>💡</string>
			<string>🔦</string>
			<string>🔆</string>
			<string>🔅</string>
			<string>🔌</string>
			<string>🔋</string>
			<string>🔍</string>
			<string>🛁</string>
			<string>🛀</string>
			<string>🚿</string>
			<string>🚽</string>
			<string>🔧</string>
			<string>🔩</string>
			<string>🔨</string>
			<string>🚪</string>
			<string>🚬</string>
			<string>💣</string>
			<string>🔫</string>
			<string>🔪</string>
			<string>💊</string>
			<string>💉</string>
			<string>💰</string>
			<string>💴</string>
			<string>💵</string>
			<string>💷</string>
			<string>💶</string>
			<string>💳</string>
			<string>💸</string>
			<string>📲</string>
			<string>📧</string>
			<string>📥</string>
			<string>📤</string>
			<string>✉</string>
			<string>📩</string>
			<string>📨</string>
			<string>📯</string>
			<string>📫</string>
			<string>📪</string>
			<string>📬</string>
			<string>📭</string>
			<string>📮</string>
			<string>📦</string>
			<string>📝</string>
			<string>📄</string>
			<string>📃</string>
			<string>📑</string>
			<string>📊</string>
			<string>📈</string>
			<string>📉</string>
			<string>📜</string>
			<string>📋</string>
			<string>📅</string>
			<string>📆</string>
			<string>📇</string>
			<string>📁</string>
			<string>📂</string>
			<string>✂</string>
			<string>📌</string>
			<string>📎</string>
			<string>✒</string>
			<string>✏</string>
			<string>📏</string>
			<string>📐</string>
			<string>📕</string>
			<string>📗</string>
			<string>📘</string>
			<string>📙</string>
			<string>📓</string>
			<string>📔</string>
			<string>📒</string>
			<string>📚</string>
			<string>📖</string>
			<string>🔖</string>
			<string>📛</string>
			<string>🔬</string>
			<string>🔭</string>
			<string>📰</string>
			<string>🎨</string>
			<string>🎬</string>
			<string>🎤</string>
			<string>🎧</string>
			<string>🎼</string>
			<string>🎵</string>
			<string>🎶</string>
			<string>🎹</string>
			<string>🎻</string>
			<string>🎺</string>
			<string>🎷</string>
			<string>🎸</string>
			<string>👾</string>
			<string>🎮</string>
			<string>🃏</string>
			<string>🎴</string>
			<string>🀄</string>
			<string>🎲</string>
			<string>🎯</string>
			<string>🏈</string>
			<string>🏀</string>
			<string>⚽</string>
			<string>⚾</string>
			<string>🎾</string>
			<string>🎱</string>
			<string>🏉</string>
			<string>🎳</string>
			<string>⛳</string>
			<string>🚵</string>
			<string>🚴</string>
			<string>🏁</string>
			<string>🏇</string>
			<string>🏆</string>
			<string>🎿</string>
			<string>🏂</string>
			<string>🏊</string>
			<string>🏄</string>
			<string>🎣</string>
			<string>☕</string>
			<string>🍵</string>
			<string>🍶</string>
			<string>🍼</string>
			<string>🍺</string>
			<string>🍻</string>
			<string>🍸</string>
			<string>🍹</string>
			<string>🍷</string>
			<string>🍴</string>
			<string>🍕</string>
			<string>🍔</string>
			<string>🍟</string>
			<string>🍗</string>
			<string>🍖</string>
			<string>🍝</string>
			<string>🍛</string>
			<string>🍤</string>
			<string>🍱</string>
			<string>🍣</string>
			<string>🍥</string>
			<string>🍙</string>
			<string>🍘</string>
			<string>🍚</string>
			<string>🍜</string>
			<string>🍲</string>
			<string>🍢</string>
			<string>🍡</string>
			<string>🍳</string>
			<string>🍞</string>
			<string>🍩</string>
			<string>🍮</string>
			<string>🍦</string>
			<string>🍨</string>
			<string>🍧</string>
			<string>🎂</string>
			<string>🍰</string>
			<string>🍪</string>
			<string>🍫</string>
			<string>🍬</string>
			<string>🍭</string>
			<string>🍯</string>
			<string>🍎</string>
			<string>🍏</string>
			<string>🍊</string>
			<string>🍋</string>
			<string>🍒</string>
			<string>🍇</string>
			<string>🍉</string>
			<string>🍓</string>
			<string>🍑</string>
			<string>🍈</string>
			<string>🍌</string>
			<string>🍐</string>
			<string>🍍</string>
			<string>🍠</string>
			<string>🍆</string>
			<string>🍅</string>
			<string>🌽</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>Travel &amp; Places</string>
		<key>emojis</key>
		<array>
			<string>🏠</string>
			<string>🏡</string>
			<string>🏫</string>
			<string>🏢</string>
			<string>🏣</string>
			<string>🏥</string>
			<string>🏦</string>
			<string>🏪</string>
			<string>🏩</string>
			<string>🏨</string>
			<string>💒</string>
			<string>⛪</string>
			<string>🏬</string>
			<string>🏤</string>
			<string>🌇</string>
			<string>🌆</string>
			<string>🏯</string>
			<string>🏰</string>
			<string>⛺</string>
			<string>🏭</string>
			<string>🗼</string>
			<string>🗾</string>
			<string>🗻</string>
			<string>🌄</string>
			<string>🌅</string>
			<string>🌃</string>
			<string>🗽</string>
			<string>🌉</string>
			<string>🎠</string>
			<string>🎡</string>
			<string>⛲</string>
			<string>🎢</string>
			<string>🚢</string>
			<string>⛵</string>
			<string>🚤</string>
			<string>🚣</string>
			<string>⚓</string>
			<string>🚀</string>
			<string>✈</string>
			<string>💺</string>
			<string>🚁</string>
			<string>🚂</string>
			<string>🚊</string>
			<string>🚉</string>
			<string>🚞</string>
			<string>🚆</string>
			<string>🚄</string>
			<string>🚅</string>
			<string>🚈</string>
			<string>🚇</string>
			<string>🚝</string>
			<string>🚋</string>
			<string>🚃</string>
			<string>🚎</string>
			<string>🚌</string>
			<string>🚍</string>
			<string>🚙</string>
			<string>🚘</string>
			<string>🚗</string>
			<string>🚕</string>
			<string>🚖</string>
			<string>🚛</string>
			<string>🚚</string>
			<string>🚨</string>
			<string>🚓</string>
			<string>🚔</string>
			<string>🚒</string>
			<string>🚑</string>
			<string>🚐</string>
			<string>🚲</string>
			<string>🚡</string>
			<string>🚟</string>
			<string>🚠</string>
			<string>🚜</string>
			<string>💈</string>
			<string>🚏</string>
			<string>🎫</string>
			<string>🚦</string>
			<string>🚥</string>
			<string>⚠</string>
			<string>🚧</string>
			<string>🔰</string>
			<string>⛽</string>
			<string>🏮</string>
			<string>🎰</string>
			<string>♨</string>
			<string>🗿</string>
			<string>🎪</string>
			<string>🎭</string>
			<string>📍</string>
			<string>🚩</string>
			<string>🇯🇵</string>
			<string>🇰🇷</string>
			<string>🇩🇪</string>
			<string>🇨🇳</string>
			<string>🇺🇸</string>
			<string>🇫🇷</string>
			<string>🇪🇸</string>
			<string>🇮🇹</string>
			<string>🇷🇺</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>Symbols</string>
		<key>emojis</key>
		<array>
			<string>1⃣</string>
			<string>2⃣</string>
			<string>3⃣</string>
			<string>4⃣</string>
			<string>5⃣</string>
			<string>6⃣</string>
			<string>7⃣</string>
			<string>8⃣</string>
			<string>9⃣</string>
			<string>0⃣</string>
			<string>🔟</string>
			<string>🔢</string>
			<string>#⃣</string>
			<string>🔣</string>
			<string>⬆</string>
			<string>⬇</string>
			<string>⬅</string>
			<string>➡</string>
			<string>🔠</string>
			<string>🔡</string>
			<string>🔤</string>
			<string>↗</string>
			<string>↖</string>
			<string>↘</string>
			<string>↙</string>
			<string>↔</string>
			<string>↕</string>
			<string>🔄</string>
			<string>◀</string>
			<string>▶</string>
			<string>🔼</string>
			<string>🔽</string>
			<string>↩</string>
			<string>↪</string>
			<string>ℹ</string>
			<string>⏪</string>
			<string>⏩</string>
			<string>⏫</string>
			<string>⏬</string>
			<string>⤵</string>
			<string>⤴</string>
			<string>🆗</string>
			<string>🔀</string>
			<string>🔁</string>
			<string>🔂</string>
			<string>🆕</string>
			<string>🆙</string>
			<string>🆒</string>
			<string>🆓</string>
			<string>🆖</string>
			<string>📶</string>
			<string>🎦</string>
			<string>🈁</string>
			<string>🈯</string>
			<string>🈳</string>
			<string>🈵</string>
			<string>🈴</string>
			<string>🈲</string>
			<string>🉐</string>
			<string>🈹</string>
			<string>🈺</string>
			<string>🈶</string>
			<string>🈚</string>
			<string>🚻</string>
			<string>🚹</string>
			<string>🚺</string>
			<string>🚼</string>
			<string>🚾</string>
			<string>🚰</string>
			<string>🚮</string>
			<string>🅿</string>
			<string>♿</string>
			<string>🚭</string>
			<string>🈷</string>
			<string>🈸</string>
			<string>🈂</string>
			<string>Ⓜ</string>
			<string>🛂</string>
			<string>🛄</string>
			<string>🛅</string>
			<string>🛃</string>
			<string>🉑</string>
			<string>㊙</string>
			<string>㊗</string>
			<string>🆑</string>
			<string>🆘</string>
			<string>🆔</string>
			<string>🚫</string>
			<string>🔞</string>
			<string>📵</string>
			<string>🚯</string>
			<string>🚱</string>
			<string>🚳</string>
			<string>🚷</string>
			<string>🚸</string>
			<string>⛔</string>
			<string>✳</string>
			<string>❇</string>
			<string>❎</string>
			<string>✅</string>
			<string>✴</string>
			<string>💟</string>
			<string>🆚</string>
			<string>📳</string>
			<string>📴</string>
			<string>🅰</string>
			<string>🅱</string>
			<string>🆎</string>
			<string>🅾</string>
			<string>💠</string>
			<string>➿</string>
			<string>♻</string>
			<string>♈</string>
			<string>♉</string>
			<string>♊</string>
			<string>♋</string>
			<string>♌</string>
			<string>♍</string>
			<string>♎</string>
			<string>♏</string>
			<string>♐</string>
			<string>♑</string>
			<string>♒</string>
			<string>♓</string>
			<string>⛎</string>
			<string>🔯</string>
			<string>🏧</string>
			<string>💹</string>
			<string>💲</string>
			<string>💱</string>
			<string>©</string>
			<string>®</string>
			<string>™</string>
			<string>❌</string>
			<string>‼</string>
			<string>⁉</string>
			<string>❗</string>
			<string>❓</string>
			<string>❕</string>
			<string>❔</string>
			<string>⭕</string>
			<string>🔝</string>
			<string>🔚</string>
			<string>🔙</string>
			<string>🔛</string>
			<string>🔜</string>
			<string>🔃</string>
			<string>🕛</string>
			<string>🕧</string>
			<string>🕐</string>
			<string>🕜</string>
			<string>🕑</string>
			<string>🕝</string>
			<string>🕒</string>
			<string>🕞</string>
			<string>🕓</string>
			<string>🕟</string>
			<string>🕔</string>
			<string>🕠</string>
			<string>🕕</string>
			<string>🕖</string>
			<string>🕗</string>
			<string>🕘</string>
			<string>🕙</string>
			<string>🕚</string>
			<string>🕡</string>
			<string>🕢</string>
			<string>🕣</string>
			<string>🕤</string>
			<string>🕥</string>
			<string>🕦</string>
			<string>✖</string>
			<string>➕</string>
			<string>➖</string>
			<string>➗</string>
			<string>♠</string>
			<string>♥</string>
			<string>♣</string>
			<string>♦</string>
			<string>💮</string>
			<string>💯</string>
			<string>✔</string>
			<string>☑</string>
			<string>🔘</string>
			<string>🔗</string>
			<string>➰</string>
			<string>〰</string>
			<string>〽</string>
			<string>🔱</string>
			<string>◼</string>
			<string>◻</string>
			<string>◾</string>
			<string>◽</string>
			<string>▪</string>
			<string>▫</string>
			<string>🔺</string>
			<string>🔲</string>
			<string>🔳</string>
			<string>⚫</string>
			<string>⚪</string>
			<string>🔴</string>
			<string>🔵</string>
			<string>🔻</string>
			<string>⬜</string>
			<string>⬛</string>
			<string>🔶</string>
			<string>🔷</string>
			<string>🔸</string>
			<string>🔹</string>
		</array>
	</dict>
</array>
</plist>
